<%- include('header') %>

<div class="uk-section uk-padding-large">
  <h3 class="uk-heading-line uk-text-center"><span>你好 <%= user.name %>，欢迎来到创作中心</span></h3>

  <form class="uk-grid-small" method="post" uk-grid>
    <div class="uk-width-1-2">
      <label class="uk-form-label">标题</label>
      <input type="text" name="title" class="uk-input" <% if(locals.post) { %>value="<%= post.title %>"<% } %>>
    </div>
    <div class="uk-width-1-2">
      <label class="uk-form-label">作者</label>
      <input type="text" name="author" class="uk-input" <% if(locals.post) { %>value="<%= post.author %>"<% } %>>
    </div>

    <div class="uk-width-1-1">
      <label class="uk-form-label">简介</label>
      <textarea name="desc" rows="3" class="uk-textarea"><% if (locals.post) { %><%- post.desc %><% } %></textarea>
    </div>

    <div class="uk-width-1-1">
      <label class="uk-form-label">内容</label>
      <textarea name="content" rows="20" class="uk-textarea"><% if (locals.post) { %><%- post.content %><% } %></textarea>
    </div>

    <button type="submit" class="uk-button uk-button-secondary uk-width-1-1">
      <% if(locals.post) { %>
        修改文章
      <% } else { %>
        创建文章
      <% } %>
    </button>
  </form>
</div>

<%- include('footer') %>
