<%- include('header') %>

<div class="ui segment">
  <h2><%= post.title %></h2>
  <sub><%= post.author %></sub>
  <sub>浏览量: <%= post.pv %></sub>
  <pre><%- post.content %></pre>
</div>

<%- include('footer') %>
