<%- include('header') %>

<div class="uk-flex uk-flex-middle uk-flex-column">
  <article class="uk-article uk-width-5-6 uk-padding-large">
    <h1 class="uk-title uk-text-center">
      <%= post.title %>
    </h1>
    <p class="uk-article-meta uk-text-center">Written by <%= post.author %> on <%= post.createdAt %>.</p>
    <p class="uk-margin-medium-top">
      <%- post.content %>
    </p>
  </article>

  <%- include('comment') %>

</div>

<%- include('footer') %>
