<%- include('header') %>

<div class="uk-grid-match uk-child-width-1-3@s uk-padding-large" uk-grid>
  <% posts.forEach(function (post) { %>
  <div>
    <div class="uk-card uk-card-default uk-card-hover uk-card-body post-item" data-id="<%= post.id %>">
      <h3><%= post.title %></h3>
      <sub>作者：<%= post.author %><span style="margin-right: 16px"></span>浏览量：<%= post.pv %></sub>

      <% if(user && user.isAdmin === true) {%>
        <a class="uk-margin-left uk-link-muted" href="/posts/<%= post.id %>/edit" uk-icon="icon: file-edit"></a>
        <a class="uk-link-muted" href="/posts/<%= post.id %>/remove" uk-icon="icon: trash"></a>
      <% } %>

      <% if (post.desc) {%>
        <hr>

        <div class="description">
          <%= post.desc %>
        </div>
      <% } %>

    </div>
  </div>
  <% }) %>
</div>

<%- include('footer') %>
